/*Header files
======================================================== */

.hero{
  /*background-image:url(../images/header5.jpg);*/
  background-color: #1abc9c;
  background-size:cover;
  background-attachment: fixed;
  position:relative;
  height:100vh;
}

.header{
  position:absolute;
  width:100%;
  text-align:center;
  top:50%;
  color: #fff;
  /*font-size:36px;*/
  -ms-transform: translate(0,-50%); /* IE 9 */
  -webkit-transform: translate(0,-50%); /* Safari */
  transform: translate(0,-50%);

}

/* Typography
======================================================== */

.hero-title {
    font-size:80px;;
}

.hero-paragraph {
    font-size:26px;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.text-justify {
    text-align: justify;
}    

/* Section
======================================================== */

.section {
  padding: 8rem 0 7rem;
}

/* Intro
======================================================== */

.intro {
  background-color: #9b59b6;
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
  text-align: center;
  padding-bottom: 5rem;
}

/* Options
======================================================== */

.options {
  background-color: #e74c3c;
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
  padding-bottom: 5rem;
  text-align: center;
}

/* Main
======================================================== */

.main {
  background-color: #f39c12;
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
  padding-bottom: 5rem;
  text-align: center;
}

/* CDN
======================================================== */

.cdn {
  background-color: #f39c12;
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
  /*padding-bottom: 5rem;*/
  text-align: center;
  height:100vh;
}

.code {
  color: #000000;
}


/* Media Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Larger than mobile */
@media (min-width: 400px) {

}

/* Larger than phablet */
@media (min-width: 550px) {

}

/* Larger than tablet */
@media (min-width: 750px) {
  
}

/* Larger than desktop */
@media (min-width: 1000px) {
  
}

/* Larger than Desktop HD */
@media (min-width: 1200px) {
  
}